$red: #c0301c;
%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

body, a {
  font-family: Montserrat;
  color: #454545;
}
html, body {
	margin: 0 auto;
	padding: 0;
}
p {
  font-family: RobotoSlab;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
       url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.ttf') format('truetype'),
       url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
       url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  src: url('../fonts/RobotoSlab-Regular.eot');
  src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
       url('../fonts/RobotoSlab-Regular.woff') format('woff'),
       url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
       url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
       url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  src: url('../fonts/RobotoSlab-Light.eot');
  src: url('../fonts/RobotoSlab-Light.woff2') format('woff2'),
       url('../fonts/RobotoSlab-Light.woff') format('woff'),
       url('../fonts/RobotoSlab-Light.ttf') format('truetype'),
       url('../fonts/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg'),
       url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  src: url('../fonts/RobotoSlab-Bold.eot');
  src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
       url('../fonts/RobotoSlab-Bold.woff') format('woff'),
       url('../fonts/RobotoSlab-Bold.ttf') format('truetype'),
       url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg'),
       url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url('../fonts/RobotoSlab-Thin.eot');
  src: url('../fonts/RobotoSlab-Thin.woff2') format('woff2'),
       url('../fonts/RobotoSlab-Thin.woff') format('woff'),
       url('../fonts/RobotoSlab-Thin.ttf') format('truetype'),
       url('../fonts/RobotoSlab-Thin.svg#RobotoSlab-Thin') format('svg'),
       url('../fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.nav__link {
  color: #fff;
  font-size: 14px;
   &:hover {
    background-color: #fff;
    color: $red;
   }
}
.navbar-toggle {
  border-color: #fff;
}
.icon-bar {
  border-bottom: 1px solid #fff;
}
.site-text {
  font-family: RobotoSlab;
  font-size: 14px;
}
.home {
	min-height: 770px;
	background: url(../image/bg/home-fon.jpg) no-repeat;
	background-size: cover;
}
.heading {
	font-family: Montserrat;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
  margin-bottom: 70px;
  position: relative;
    &:after {
      display: block;
      content: "";
      background: url(../image/icons/Shape.png);
      width: 50px;
      height: 2px;
      position: absolute;
      top: 200%;
      left: 48%;
    }
}
.heading__after {
  font-family: RobotoSlab;
  font-size: 16px;
  margin-bottom: 70px;
  text-align: center;
}
.jumbotron {
  padding-top: 200px;
  background: transparent;
}
.jumbotron .main__head {
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
}
.jumbotron .main__text {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.btn {
  background: transparent;
  border: 1px solid #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.btn-primary, .btn, .btn-lg {
  &:hover {
    background-color: #fff;
    color: $red;
    border-color: #fff;
  }
}
.btn, .btn-primary, .btn-lg {
  border-radius: 0;
}
.main__btn {
  text-align: center;
}
.services {
	min-height: 580px;
	padding-top: 100px;
}
.service__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}
.service__img {
	width: 85px;
	height: 85px;
	margin: 0 auto;
	border: 2px solid #dedede;
	border-radius: 50%;
  position: relative;
}
.service__img-font {
  background-color: $red;
}
.service__pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;bottom: 0;
  margin: auto;
  color: $red;
}
.about {
  background-color: #f8f8f8;
  margin-bottom: 100px;
}
.slider__block {
  position: relative;
  margin-bottom: 100px;
}
.slider__display {
  position: relative;
  height: 250px;
  // width: 1150px;
  overflow: hidden;
}
.slider__list {
  @extend %clearfix;
  height: 250px;
  position: relative;
  left: 0;
}
.slider__item {
  height: 250px;
  position: relative;
    &:hover .team-fon {
      display: block;
       background-color: rgba(85, 85, 85, .5);
    }
}

.slider__img {
  width: 100%;
  height: 100%;
}
.control__link {
  display: block;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(205, 105, 94, .7);
    &:after {
      content: "";
      display: block;
      background: url('../image/icons/left-ctr.png');
      width: 8px;
      height: 14px;
      top: 0;left: 0;
    }
}
.control__left {
  left: 15px;
}
.control__right {
  right: 15px;
}
.team-fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.team-fon__list {
  @extend %clearfix;
  position: absolute;
  bottom: 50px;left: 50px;
}
.team-fon__item {
  float: left;
  margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
}
.team-fon__link {
  padding: 8px;
    &:hover {
      background-color: $red;
    }
}
.works {
 margin-bottom: 100px;
}
.row__work {
  margin-bottom: 30px;
}
.works-nav__list {
  text-align: center;
  margin-bottom: 70px;
}
.works-nav__item {
  display: inline-block;
  margin: 0 25px;
}
.works-nav__link {
   &:hover {
      color: $red;
    }
}
.works__item {
  margin-bottom: 30px;
}
.works__link {
  position: relative;
  display: block;
    &:hover .works__img-fon{
      display: block;
      background-color: rgba(205, 105, 94, .7);
    }
    &:hover .works__btn {
      background-color: #fff;
      color: $red
    }  
}
.pic {
  width: 100%;
  height: 100%;
}

.works__img-fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  
}
.works__img-text {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin: 105px 0 10px;
}
.works__img-title {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-bottom: 20px;
}
.works__btn {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 12px 40px 12px 12px;
  position: relative;
    &:after {
      content: "";
      display: block;
      background: url("../image/icons/btn.png");
      position: absolute;
      width: 6px;
      height: 10px;
      top: 37%;
      left: 70%;
    }
}
.toAction {
  background: url(../image/bg/fon.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 368px;
  margin-bottom: 100px;
}
.toAction-fon {
  padding: 100px 0;
  min-height: 368px;
  background: rgba(205, 105, 94, .7);
}
.toAction__text {
  font-family: RobotoSlab;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}
.down {
  margin-bottom: 50px;
}
.toAction__btn {
  text-transform: uppercase;
  border: 2px solid #fff;
  background-color: transparent;
}
.blog {
  margin-bottom: 100px;
}
.blog__pic {
  width: 100%;
  height: 100%;
}
.blog__title, .blog__autor, .date, .month {
  display: block;
}
.blog__date {
  padding: 15px;
  border: 2px solid #555555;
}
.date, .month {
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
} 
.blog__title {
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 5px;
  margin-bottom: 20px;
} 
.blog__autor {
  font-family: RobotoSlab;
  font-size: 13px;
  font-style: italic;
}
.blog__text {
  font-family: RobotoSlab;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 30px;
} 
.blog__link {
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
    &:hover {
      color: #c0301c;
    }
}
.blog-line{
  margin-bottom: 70px;
}
.title-line {
  margin-bottom: 25px;
}
.clients {
  background-color: #f8f8f8;
  min-height: 475px;
  padding: 70px 0 80px 0;
}
.clients__list {
  text-align: center;
  margin-bottom: 80px;
}
.clients__item {
  display: inline-block;
  margin: 0 25px;
}
.carousel-caption {
  font-family: RobotoSlab;
  font-size: 18px;
  font-style: italic;
  color: #555;
  font-weight: 300;
}
.clients__autor {
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
}
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
.carousel-indicators li {
  background: #dddddd;
}
.carousel-indicators .active {
background: #c0301c;
}
.item {
  height: 330px;
}
.contacts__link {
  @extend %clearfix;
  margin-bottom: 35px;
}
.contacts__desc, .contacts__img {
  float: left;
}
.contacts__img {
  width: 10%;
}
.contacts__desc {
  width: 90%;
}
.contacts__title, .contacts__text {
  display: block;
}
.contacts__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}
.contacts__text {
  font-family: RobotoSlab;
  font-weight: 300;
  font-size: 12px;
}
.form {
  padding: 80px 0 100px 0;
}
input, textarea {
  outline: none;
}
input[type="text"] {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #555;
}
input:focus {
  border-color: $red;
}
input[type="submit"] {
  padding: 20px 35px;
  background: transparent;
}
.textArea {
  margin-bottom: 20px;
}
.form__text {
  font-family: RobotoSlab;
  font-size: 12px;
  margin-left: 30px;
}
.footer {
  min-height: 307px;
  padding: 100px 0;
  background-color: $red;
}
.footer__block {
  position: relative;
  overflow: hidden;
    &:before {
      content: "";
      display: block;
      background: url("../image/icons/Shape-white.png");
      width: 50px;
      height: 2px;
      position: absolute;
      left: 48%;
      top: 48%;
    }
}
.social__list {
  @extend %clearfix;
  left: 50%;
  float: left;
  margin-bottom: 60px;
  position: relative;
}
.social__item {
  border: 2px solid #fff;
  border-radius: 50%;
  float: left;
  margin-left: 15px;
  position: relative;
  left: -50%;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background-color: #fff;
    }
}
.social__link {
  display: block;
  padding: 15px;
  width: 16px;
  height: 12px;
  background: url("../image/icons/fa-twitter.png")center no-repeat;
   &:hover {
      background: url("../image/icons/fa-twitter-hov.png")center no-repeat;
   }
}
.copyright {
  font-family: RobotoSlab;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.clients__text {
  padding-top: 35px;
}
* {outline: 1px solid red}
